# Next.js / Node
node_modules/
.next/
out/
dist/
.env*
*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editors
.vscode/
*.code-workspace

# Visual Studio
.vs/
*.user
*.suo

# OS
.DS_Store
Thumbs.db
